header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

body {
    background-color: #ace1f3; /* Cambia el color según tu preferencia */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #d43678;

}